/* MySwiper.css */

.swiper-container.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.swiper-container.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari, etc.) */
}
.swiper-slide .swiper-slide-active{
  height: 900px;
  width: 100%;
}